<h2>結果</h2>

<% if @success %>
<p>情報の登録に成功しました</p>
<% else %>
<p>情報の登録に失敗しました</p>
<% end %>
<p> <%= link_to('設定画面に戻る', :action=>'plugin', :id=>'redmine_wikilink_converter', :controller=>'settings') %> </p>
