<h2>データ削除</h2>

<% if @success %>
<p> ID:<%= @id %> のデータを削除しました。</p>
<% else %>
<p> データ削除に失敗しました </p>
<% end %>
<p> <%= link_to('設定画面に戻る', :action=>'plugin', :id=>'redmine_wikilink_converter', :controller=>'settings') %> </p>


