<p>
  <table> 
    <tr><td> Replace String </td><td>
        <%= text_field_tag('settings[replace_string]', @settings['replace_string'])%>
    </td></tr>
    <tr><td> Address </td><td>
        <%= text_field_tag('settings[replace_address]', @settings['replace_address'], :size => 80)%>
    </td></tr>
  </table>
</p>

<%= link_to('新規登録', :controller => 'add_link', :action => 'add_index') %>

<% debug( UrlStores.all ) %>
<% if false %>
<% @replaceData = UrlStores.new %>
<% @replaceData.replace_string = "dbtestkey1" %>
<% @replaceData.replace_url = "dbtest url" %>
<% @replaceData.save %>
<% end %>


